<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}">

<body>

	<div id="page" layout:fragment="container">

		<form class="form-signin" id="passwordForm"
			role="form" action="#"
			th:action="@{/changePassword}" method="post">
			
			<h2 class="form-signin-heading" th:text="#{password.header}"></h2>

			<div th:if="${successMessage}" class="alert alert-success"
				role="alert" th:text="${successMessage}"></div>

			<div th:if="${errorMessage}" class="alert alert-danger" role="alert"
				th:text="${errorMessage}"></div>
				
			<div class="form-group input-group">
				<span class="input-group-addon"> 
					<span class="glyphicon glyphicon-lock"></span>
				</span> 
				<input
					name="currentPassword"
					type="password"
					id="currentPassword"
					th:placeholder="#{password.currentPasswordPlaceholder}"
					class="form-control"
					required="true"
				/> 
				<span class="glyphicon" aria-hidden="true"></span>
			</div>

			<div class="form-group input-group">
				<span class="input-group-addon"> 
					<span class="glyphicon glyphicon-lock"></span>
				</span> 
				<input
					name="newPassword"
					type="password"
					id="newPassword"
					th:placeholder="#{password.newPasswordPlaceholder}"
					class="form-control"
					required="true"
				/> 
				<span class="glyphicon" aria-hidden="true"></span>
			</div>

			<div class="form-group input-group has-feedback">
				<span class="input-group-addon"> 
					<span class="glyphicon glyphicon-lock"></span>
				</span> 
				<input
					type="password" 
					class="form-control"
					id="signup-password-confirm"
					th:placeholder="#{password.confirmPasswordPlaceholder}"
					name="confirmPassword"
					required="true"
				/>

				<div class="help-block with-errors"></div>
			</div>

			<button type="submit" class="btn btn-lg btn-primary btn-block" th:text="#{password.buttonText}"></button>

		</form>


	</div>

	<!-- jQuery-->
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Bootstrap -->
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

	<!-- Bootstrap Validator plugin -->
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>

	<script th:src="@{js/fv.min.js}"></script>

</body>
</html>