<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default}">

<body>

	<div layout:fragment="container">

		<div th:if="${successMessage}" class="alert alert-success"
			role="alert" th:text="${successMessage}"></div>

		<div th:if="${errorMessage}" class="alert alert-danger" role="alert"
			th:text="${errorMessage}"></div>

	</div>
	<!-- /container -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>